@import "tailwindcss";







:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes wiggle{
  0% {transform: translate(0,0);}
  50% {transform:translate(10px,-10px);}
  100% {transform:translate(0,0);}
}

@keyframes drift {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(20vw, -15vh); }
  50%  { transform: translate(-15vw, 20vh); }
  75%  { transform: translate(10vw, 10vh); }
  100% { transform: translate(0, 0); }
}


.animate-float {
  animation: float 6s ease-in-out infinite;
}
